body {
    background-color: white;
}
h1 {
    text-align: center;
    background-color: black;
    color: white;
} 
ol {
    background-color: greenyellow;
    font-family: verdana;
}
caption {
    background-color: rgb(128, 228, 13);
    border-color: black;
    font-family: verdana;
}
thead {
    background-color: rgb(223, 223, 22);
    font-family: verdana;
}
td {
    font-family: verdana;
}
