body {
    background-color: rgb(223, 57, 38);
    color: whitesmoke;
    padding: 20px;
    

}
h1 {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 6px;
} 
ol {
    background-color: rgb(21, 141, 10);
    font-family: verdana;
    border-radius: 6px;
}
caption {
    background-color: rgb(11, 146, 11);
    border-color: black;
    font-family: verdana;
}
thead {
    background-color: rgb(22, 109, 223);
    font-family: verdana;
}
td {
    font-family: verdana;
}
